<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseRemoteApi" value="true" />
    <add key="ApiBaseUrl" value="http://187.127.157.47:5088" />
    <add key="RunLocalApiServer" value="false" />
    <add key="LocalApiExecutablePath" value="ApiServer\Awagaman.Api.exe" />
    <add key="SyncfusionLicenseKey" value="" />
  </appSettings>
</configuration>
